# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
out/
.next/

# Development
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore
docker/

# Tests
__tests__/
*.test.ts
*.test.tsx
coverage/

# Docs
README.md
